
@import url('https://fonts.googleapis.com/css2?family=Tektur:wdth,wght@75..100,400..900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 400;
}
main{
    max-width: 800PX;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header
{
    text-align: center;
    color: black;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    background-image: url(img/photo-1583265555494-49aa9e8c80b9.avif);
    background-repeat: no-repeat;
    background-position: center;
}

header figure img
{
    border-radius: 50%;
    border: 5px solid rgba(77, 77, 77);
    box-shadow:  0px 0px 10px;
        
}
header h1{
    font: size 2em;
    margin-top: 10px;
}
header h2{
    font-size: 1.2em;
    opacity: 0.7;
}
.container{
    background-color: rgb(194, 193, 192);
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid whitesmoke;
    margin:5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;
}